:root {
    /* PRIMARY COLOR  */
    --color-orange: hsl(25, 97%, 53%);

    /* NEUTRAL COLORS  */
    --color-white: hsl(0, 0%, 100%);
    --color-ligth-gray: hsl(217, 12%, 63%);
    --color-medium-gray: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
    --color-black: #000000;

    /* FONT SIZE */
    --md: 12px;
    --sm: 10px;
    --lg: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-black);
    font-family: 'Overpass', sans-serif;
}

.main-container {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 280px;
    height: 270px;
    background-color: var(--color-very-dark-blue);
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    box-sizing: border-box;
    color: var(--color-white);
}

.icon-container {
    width: 32px;
    height: 32px;
    margin: 16px 20px 0 20px;
    background-color: var(--color-dark-blue);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-start {
    width: 10px;
    height: 10px;
}

.title-container {
    margin: 20px 26px 0 20px;
    font-weight: bold;
}

.paragraph-container {
    margin: 8px 26px 0 20px;
}

span {
    font-size: var(--md);
    /* letter-spacing: 0.1px; */
    line-height: 18px;
    font-weight: 500;
    color: var(--color-ligth-gray);
}

.numbers-container {
    margin: 16px 30px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#one,
#two,
#three,
#four,
#five {
    width: 30px;
    height: 30px;
    border-radius: 80px;
    border: transparent;
    color: var(--color-medium-gray);
    background-color: var(--color-dark-blue);
    font-size: var(--sm);
}

.btn-submit {
    margin: 14px 26px 8px 20px;
}

#btn-submit {
    width: 100%;
    height: 32px;
    border-radius: 30px;
    background-color: var(--color-orange);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    font-size: 10px;
    letter-spacing: 1.3px;
}

#btn-submit:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
}


.attribution { 
    font-size: 11px; text-align: center; 
    color: var(--color-white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}