:root {
    /* PRIMARY COLOR  */
    --color-orange: hsl(25, 97%, 53%);

    /* NEUTRAL COLORS  */
    --color-white: hsl(0, 0%, 100%);
    --color-ligth-gray: hsl(217, 12%, 63%);
    --color-medium-gray: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);

    /* FONT SIZE */
    --md: 14px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}